<div class="d-flex flex-column">
    <hr class="horizontal-ln">
    <p class="text-center mx-3 my-3">
        All we would like is your company on our special day! However if you would like to get us a gift you can find our registry using the link below
    </p>
    <p class="text-center mb-2">
        Please address gifts to
    </p>
    <p class="text-center">14 Hart Dyke Close</p>
    <p class="text-center">Wokingham</p>
    <p class="text-center mb-3">RG41 2HQ</p>

    <hr class="horizontal-ln">

    <div class="d-flex justify-content-center">
        <a class="btn btn-mauve" href="https://www.johnlewis.com/wish-list/DKRRQHJ">REGISTRY</a>
    </div>
    <hr class="horizontal-ln">
    <div class="row">
{#        {% for product in products %}#}
{#            <div class="col">#}
{#                <div class="card p-3 my-3">#}
{#                    <img class="mx-auto" src="{{ product.image }}" width=200 height="auto">#}
{#                    <p class="py-1">{{ product.title }}</p>#}
{#                    <div class="card bg-light p-2">#}
{#                        <p class="mx-auto">{{ product.purchased }} of {{ product.wanted }} purchased</p>#}
{#                    </div>#}
{#                    <hr>#}
{#                    <p>£{{ product.price }}</p>#}
{#                    <hr>#}
{#                    <p>{{ product.availability }}</p>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
    </div>
</div>