
<div class="timeline mt-3">
    <div class="row">
        <div class="col-3 " style="position: relative">
            <div class="vertical-rule"></div>
        </div>
        <div class="col-9 pe-3">
            <div id="arrive-timeline" class="card mb-5 timeline-item timeline-icon">
                <div class="card-header mauve-header">
                    <h4 class="card-title light-title">12:45PM - Guests Arrive</h4>

                </div>
                <div class="card-body d-flex justify-content-between">
                    Please arrive at St James Church Barkham for 12:45pm as we will be starting promptly at 1PM. For address and parking details see our travel section.
                </div>

            </div>
            <div id="wedding-timeline" class="card mb-5 timeline-item timeline-icon">
                <div class="card-header mauve-header">
                    <h4 class="card-title light-title">1:00PM - Ceremony</h4>

                </div>
                <div class="card-body d-flex justify-content-between">

                </div>
            </div>

            <div id="tea-cake-timeline" class="card mb-5 timeline-item timeline-icon">
                <div class="card-header mauve-header">
                    <h4 class="card-title light-title">2:00PM - Tea and Cake</h4>

                </div>
                <div class="card-body d-flex justify-content-between">
                    We will be serving tea and cake for an hour after the service.
                </div>
            </div>
        </div>

    </div>

</div>