
<div class="timeline mt-3">
    <div class="row">
        <script>
             console.log('#')
        </script>
        <div class="col-3 " style="position: relative">
            <div class="vertical-rule"></div>
        </div>
        <div class="col-9 pe-3">
            <div id="arrive-timeline" class="card mb-5 timeline-item timeline-icon">
                <div class="card-header mauve-header">
                    <h4 class="card-title light-title">12:45PM - Guests Arrive</h4>

                </div>
                <div class="card-body d-flex justify-content-between">
                    <p>Please arrive at St James Church Barkham for 12:45pm as we will be starting promptly at 1PM. For address and parking details see our travel section.</p>
                </div>

            </div>
            <div id="wedding-timeline" class="card mb-5 timeline-item timeline-icon card-header mauve-header">
                <h4 class="card-title light-title">1:00PM - Ceremony</h4>

            </div>
            <div id="tea-cake-timeline" class="card mb-5 timeline-item timeline-icon">
                <div class="card-header mauve-header">
                    <h4 class="card-title light-title">2:00PM - Tea and Cake</h4>

                </div>
                <div class="card-body d-flex justify-content-between">
                    <p>We will be serving tea and cake for an hour after the service at Barkham Village Hall next to the Church.</p>
                </div>
            </div>
            <div id="reception-timeline" class="card mb-5 timeline-item timeline-icon">
                <div class="card-header mauve-header">
                    <h4 class="card-title light-title">3:30PM - Reception</h4>

                </div>
                <div class="card-body d-flex flex-column">
                    <p class="mb-4">Welcome drinks and canapés will be served on arrival, please bear in mind the 30 minute drive to the venue.</p>
                    <p>A chance to mingle and play some garden games!</p>
                </div>
            </div>
            <div id="food-timeline" class="card mb-5 timeline-item timeline-icon card-header mauve-header">
                <h4 class="card-title light-title">5:30PM - Wedding Breakfast</h4>

            </div>
            <div id="cake-timeline" class="card mb-5 timeline-item timeline-icon card-header mauve-header">
                <h4 class="card-title light-title">7:45PM - Cake</h4>
            </div>
            <div id="first-dance-timeline" class="card mb-5 timeline-item timeline-icon card-header mauve-header">
                <h4 class="card-title light-title">8:00PM - First Dance</h4>
            </div>
            <div id="evening-food-timeline" class="card mb-5 timeline-item timeline-icon card-header mauve-header">
                <h4 class="card-title light-title">9:00PM - Evening Food</h4>
            </div>
            <div id="goodnight-timeline" class="card mb-5 timeline-item timeline-icon card-header mauve-header">
                <h4 class="card-title light-title">11:30PM - Goodnight</h4>
            </div>
        </div>

    </div>

</div>