
<div class="row">
    <div class="col-xl mt-3">
        <div class="card">
            <div class="card-header mauve-header">
                <h3 class="light-title">Church</h3>
            </div>
            <div class="card-body">
                <p>St James Church Barkham</p>
                <p>Church Lane</p>
                <p>Wokingham</p>
                <p>RG40 4PL</p>
                <hr class="horizontal-ln"/>
                {% load static %}
                <img class="img-fluid" src={% static 'img/st_james_barkham.jpg' %}>
                <hr class="horizontal-ln"/>
                <iframe
                  style="border:0; width: 100%; height: 350px"
                  loading="lazy"
                  allowfullscreen
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAzyqUXQ4TABj_N8c-DUfBRm2pXLLWzIrk&q=St+James+Church+Barkham">
                </iframe>
            </div>
        </div>
    </div>
    <div class="col-xl mt-3">
        <div class="card">
            <div class="card-header mauve-header">
                <h3 class="light-title">Reception</h3>
            </div>
            <div class="card-body">
                <p>The Old Rectory Berkshire</p>
                <p>Rectory Road</p>
                <p>Padworth CCommon</p>
                <p>RG7 4JD</p>
                <hr class="horizontal-ln"/>
                {% load static %}
                <img class="img-fluid" src={% static 'img/TheOldRectory-Holding-6.jpg' %}>
                <hr class="horizontal-ln"/>
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d79655.92606610952!2d-1.073486315566445!3d51.39850342765109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e0!4m5!1s0x487683b67c51b87d%3A0x93219165c0389b9d!2sThe%20Parish%20Church%20of%20Saint%20James%20Barkham%2C%20Church%20Ln%2C%20Barkham%2C%20Wokingham%20RG40%204PL!3m2!1d51.3915052!2d-0.8747879!4m5!1s0x48769f98fd6fdd1b%3A0xeaecc2b5d78aa1c7!2sThe%20Old%20Rectory%20Berkshire%2C%20Rectory%20Road%2C%20Padworth%20Common%2C%20Reading!3m2!1d51.386774499999994!2d-1.1135319!5e0!3m2!1sen!2suk!4v1643843836581!5m2!1sen!2suk"
                        style="border:0; width: 100%; height: 350px"
                        allowfullscreen=""
                        loading="lazy">

                </iframe>
            </div>
        </div>
    </div>



</div>
<div class="row">
    <div class="col-xl mt-3">
        <div class="card">
            <div class="card-header mauve-header">
                <h3 class="light-title">Accommodation</h3>
            </div>
        </div>
    </div>
</div>
