<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSVP</title>
    {% include 'rsvp/_head.html' %}
</head>
<body>
    {% include 'rsvp/_header.html' %}

    <div class="tab-content">
        <div class="active show tab-pane container fade" id="home">
            {% include 'rsvp/home/_wedding.html' %}
        </div>
        <div class="tab-pane container fade" id="schedule">
            {% include 'rsvp/home/_schedule.html' %}
        </div>
        <div class="tab-pane container fade" id="travel">
            {% include 'rsvp/home/_travel.html' %}
        </div>
        <div class="tab-pane container fade" id="registry">
            {% include 'rsvp/home/_registry.html' with products=products %}
        </div>
    </div>
</body>
</html>