<div class="timeline mt-5">
    <div class="row">
        <div class="col-3" style="position: relative">
            <div class="vertical-rule"></div>
        </div>
        <div class="col-9 pe-5">
            <div id="arrive-timeline" class="card mb-5 timeline-item timeline-icon">
                <div class="card-header timeline-header">
                    <h4 class="card-title timeline-title">12:30</h4>

                </div>
                <div class="card-body d-flex justify-content-between">
                    {% load static %}
                    <img class="rounded timeline-image" src={% static "img/barkham.jpeg" %}>
                </div>

            </div>
            <div id="wedding-timeline" class="card p-3 mb-5 timeline-item timeline-icon">
                <p class="card-title">13:00</p>
                <p class="card-title">13:00</p>
                <p class="card-title">13:00</p>
                <p class="card-title">13:00</p>
            </div>

            <div class="card p-3 mb-5 timeline-item timeline-icon">
                <p class="card-title">13:00</p>
                <p class="card-title">13:00</p>
                <p class="card-title">13:00</p>
                <p class="card-title">13:00</p>
            </div>
        </div>

    </div>

</div>