
:root {
    --pink: #C69ABE;
    --mauve: #B76E79;
    --green: #6B9F93;
    --gold: #c4a784;
    --blue: #8BA8B7;
    --text-grey: #737578;

    --schedule-align-top: -7px;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0 !important;
}

body.rsvp {
    background-color: var(--mauve);
}

#response-table td {
    padding: 2px;
}

.rsvp-title {
    color: white;
    font-family: "Playfair Display";
}

.nav-link {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    color: var(--text-grey);
    font-size: large;
}

.nav-item {

}

.nav-link:hover {
    color: var(--mauve);
}

.nav-link:focus {
    color: var(--mauve);
}


.btn-rsvp {
    color: var(--mauve);
    border-color: var(--mauve);
    background-color: white;
    right:30px;
    top: 20px;
    border-radius: 0;
    position: fixed;
    z-index: 2;
}

.vertical-rule::after {
    content:'';
    position:absolute;
    height: 94%;
    width: 15px;
    right: 49px;
    top: 10px;
    z-index: 1;

    background-color: var(--mauve);
}

.btn-mauve {
    color: var(--mauve);
    border-color: var(--mauve);
    border-radius: 0;
}

.btn-mauve:hover {
    background-color: var(--mauve);
    border-color: var(--mauve);
    color: white;
}

.btn-back {
    position: fixed;
    right: 30px;
    top: 30px;
    border-radius: 0;
}


.btn-rsvp:hover {
    background-color: var(--mauve);
    border-color: var(--mauve);
}

#initials {
    color: var(--mauve);
    margin-left: 2%;
    margin-right: 2%;
}

.ornament {
    width: 5%;
    min-width: 45px;
    height: auto;
}

.horizontal-ln {
    color: var(--mauve);
}

.timeline-item {
    max-width: 700px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    left:-100px;
    background-color: var(--mauve);
    border-radius: 50%;
    z-index: 1;
}

.timeline-image {
    width: 50%;
    height: auto;
}

#arrive-timeline::before {
    content: url("/static/img/groups_white_36dp.svg");
    position: absolute;
    /*left:-100px;*/
    top: var(--schedule-align-top);
    padding-left: 12px;
    padding-top: 10px;
    z-index: 2;
}

#wedding-timeline::before {
    content: url("/static/img/church_white_36dp.svg");
    position: absolute;
    /*left:-100px;*/
    top: var(--schedule-align-top);
    padding-left: 12px;
    padding-top: 10px;
    z-index: 2;
}

#tea-cake-timeline::before {
    content: url("/static/img/local_cafe_white_36dp.svg");
    position: absolute;
    /*left:-100px;*/
    top: var(--schedule-align-top);
    padding-left: 13px;
    padding-top: 12px;
    z-index: 2;
}

#reception-timeline::before {
    content: url("/static/img/celebration_white_36dp.svg");
    position: absolute;
    /*left:-100px;*/
    top: var(--schedule-align-top);
    padding-left: 13px;
    padding-top: 12px;
    z-index: 2;
}

#food-timeline::before {
    content: url("/static/img/restaurant_white_36dp.svg");
    position: absolute;
    /*left:-100px;*/
    top: var(--schedule-align-top);
    padding-left: 11px;
    padding-top: 12px;
    z-index: 2;
}

#cake-timeline::before {
    content: url("/static/img/cake_white_36dp.svg");
    position: absolute;
    /*left:-100px;*/
    top: var(--schedule-align-top);
    padding-left: 12px;
    padding-top: 11px;
    z-index: 2;
}

#first-dance-timeline::before {
    content: url("/static/img/music_note_white_36dp.svg");
    position: absolute;
    /*left:-100px;*/
    top: var(--schedule-align-top);
    padding-left: 13px;
    padding-top: 12px;
    z-index: 2;
}
#evening-food-timeline::before {
    content: url("/static/img/lunch_dining_white_36dp.svg");
    position: absolute;
    /*left:-100px;*/
    top: var(--schedule-align-top);
    padding-left: 12px;
    padding-top: 11px;
    z-index: 2;
}

#goodnight-timeline::before {
    content: url("/static/img/local_taxi_white_36dp.svg");
    position: absolute;
    /*left:-100px;*/
    top: var(--schedule-align-top);
    padding-left: 12px;
    padding-top: 11px;
    z-index: 2;
}

.light-title {
    margin-bottom: 0;
    color: white;
}

.mauve-header {
    background-color: var(--mauve);
}


/* TIMELINE */

span.twitter-typeahead .tt-menu,
span.twitter-typeahead .tt-dropdown-menu {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion.tt-cursor,
span.twitter-typeahead .tt-suggestion:hover,
span.twitter-typeahead .tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #337ab7;
}
.input-group.input-group-lg span.twitter-typeahead .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.input-group.input-group-sm span.twitter-typeahead .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
span.twitter-typeahead {
  width: 100%;
}
.input-group span.twitter-typeahead {
  display: block !important;
  height: 34px;
}
.input-group span.twitter-typeahead .tt-menu,
.input-group span.twitter-typeahead .tt-dropdown-menu {
  top: 32px !important;
}
.input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control {
  border-radius: 0;
}
.input-group span.twitter-typeahead:first-child .form-control {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group span.twitter-typeahead:last-child .form-control {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.input-group.input-group-sm span.twitter-typeahead {
  height: 30px;
}
.input-group.input-group-sm span.twitter-typeahead .tt-menu,
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
  top: 30px !important;
}
.input-group.input-group-lg span.twitter-typeahead {
  height: 46px;
}
.input-group.input-group-lg span.twitter-typeahead .tt-menu,
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
  top: 46px !important;
}

